body {
  --inactive-btn: hsl(228, 13%, 46%);
  max-height: 100vh;
  background-image: url("https://i.ibb.co/8KBwcBV/pizza-background.png");
}

.create-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.container {
  max-width: 1300px;
  margin: 2rem auto 0;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.create-pizza-desc {
  font-size: 1.2rem;
  color: #24262F;
}

.pizza-constructor-container {
  display: flex;
  justify-content: space-around;
}

.pizza-constructor-image {
  width: 30vw;
  height: 30vw;
  position: relative;
}

.pizza-constructor-image .pizza-base-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pizza-settings-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  max-width: 45%;
}
.pizza-settings-container p {
  font-size: 1.1rem;
  font-weight: bold;
  align-self: flex-start;
}

.pizza-topping-image {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85%;
  max-width: 500px;
  height: auto;
  transform: translate(-50%, -50%);
}

.topping-btn-container,
.size-btn-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 1rem 0;
}

.size-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

.topping-btn,
.size-btn {
  font-family: "Signika", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #F5F3EF;
  color: var(--inactive-btn);
  padding: 15px 5px;
  margin: 0.5rem;
  min-width: 100px;
  border-radius: 10px;
  border: 2px solid var(--inactive-btn);
  cursor: pointer;
}

.topping-btn-container .active,
.size-btn-container .active {
  color: #F6752C;
  border: 2px solid #ffaa2c;
  box-shadow: 0px 3px 10px rgba(26, 26, 33, 0.1);
}

.cart-btn-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.cart-btn-container a {
  text-decoration: none;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  background-color: #F6752C;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 25px;
  width: 350px;
  justify-content: space-between;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  background-color: #24262F;
  color: #ffaa2c;
}

.add-to-cart-btn:disabled {
  cursor: not-allowed;
  background-color: var(--inactive-btn);
  color: white;
}

.total-price {
  font-size: 1.2rem;
}

@media screen and (max-width: 1360px) {
  .container {
    max-width: 1250px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1100px;
    margin: 2rem 1.5rem;
  }
  h1 {
    margin: 0.6rem 0;
  }
  .pizza-settings-container {
    max-width: 50%;
  }
  .topping-btn-container,
  .size-btn-container {
    max-width: 100%;
    margin: 0.7rem 0;
  }
  .topping-btn,
  .size-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 5px;
    margin: 0.5rem;
    min-width: 90px;
  }
  .size-btn span {
    font-weight: 300;
  }
  .cart-btn-container {
    margin: 1rem 0;
  }
  .add-to-cart-btn {
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    width: 300px;
  }
  .pizza-constructor-container {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  body {
    overflow: auto;
  }
  h1 {
    font-size: 1.7rem;
  }
  .container {
    max-width: 920px;
    margin: 1.1rem 1.5rem;
  }
}
@media screen and (max-width: 970px) {
  .pizza-constructor-container {
    margin: 2.5rem 0;
  }
}
@media screen and (max-width: 800px) {
  .pizza-constructor-container {
    margin: 1.5rem 0;
    flex-direction: column;
    align-items: center;
  }
  h1, .create-pizza-desc {
    text-align: center;
  }
  .pizza-constructor-image {
    width: 50vw;
    height: 50vw;
  }
  .pizza-settings-container {
    max-width: 90%;
  }
  .topping-btn-container,
  .size-btn-container {
    margin: 1.1rem 0 1.3rem 0;
  }
  .topping-btn {
    padding: 13px 5px;
  }
  .add-to-cart-btn {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    width: 300px;
  }
  .total-price {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=custom.css.map */
