@use "./variables";
@use "./mixins";

body {
  overflow: hidden;
}
.container {
  min-height: 100vh;
  background-image: url('https://i.ibb.co/8KBwcBV/pizza-background.png');
  display: flex;
  justify-content: space-between;
}
.img-wrapper {
  @include mixins.col__center;
  flex-grow: 1;
  display: flex;
  max-width: 50%;
}
.pizza-image {
  background-image: url('../images/pizza2.webp');
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.call-to-action {
  color: variables.$bg-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
  min-width: 30%;
  max-width: 50%;
  flex-grow: 1;
}
h2 {
  font-size: 3.7rem;
}
.highlighted-text {
  color: variables.$highlight-color;
}
.btn-container {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
  max-width: 400px;
}
.cta-btn {
  background-color: variables.$bg-color;
  color: variables.$text-color;
  padding: .8rem 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 5px;
}
.cta-btn:focus {
  @include mixins.hover-effect;
}
@media (hover:hover) {
  .cta-btn:hover {
    @include mixins.hover-effect;
  }
}

@media screen and (max-width: 1360px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
  .btn-container {
    width: 350px;
  }
  .btn {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 860px) {
  h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 800px) {
  .container {
    @include mixins.col__center;
    align-items: center;
  }
  .img-wrapper {
    justify-content: center;
    max-width: 70%;
    width: 70%;
    flex-grow: 1.5;
  }
  .call-to-action {
    align-items: center;
    max-width: 80%;
  }
  .pizza-image {
    background-image: url('../images/pizza2_300x300.webp');
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.9rem;
    text-align: center;
  }
  .btn-container {
    max-width: 92%
  }
  .cta-btn {
    font-size: .9rem;
  }
}