<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/menu.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
  <header>
    <nav>
      <div class="nav-center">
        <div class="nav-header">
          <div class="nav-logo">
            <img class="logo" src="https://i.ibb.co/5n7tb1h/logo.png" alt="pizza-logo">
            Pizza O'Clock
          </div>
          <a class="cart-link-sm" href="./cart.html">
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="order-quantity"></div>
          </a>
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <!-- links -->
        <ul class="links">
          <li>
            <a href="/index.html">
              <i class="fa-solid fa-house"></i>
              home
            </a>
          </li>
          <li>
            <a href="./menu.html">
              <i class="fa-solid fa-book-open"></i>  
              menu
            </a>
          </li>
          <li>
            <a href="./contact.html">
              <i class="fa-solid fa-address-card"></i>
              contact
            </a>
          </li>
        </ul>
        <a class="cart-link" href="./cart.html">
          <i class="fa-solid fa-basket-shopping"></i>
          <div class="order-quantity"></div>
        </a>
      </div>
    </nav>
  </header>
  
  <main>
    <div class="container">
      <div id="menu-grid" class="menu-grid">
        <div class="single-pizza">
          <img class="create-pizza-img" src="https://i.ibb.co/HTWRkns/create-pizza.png" alt="create-pizza">
          <div class="create-pizza-info">
            <h3 class="pizza-info-heading">Create Your Own Pizza</h3>
            <p class="create-info-desc">Choose From Our Options Of Design 
              And Make Your Own Pizza.</p>
          </div>
          <a class="create-btn-link" href="./custom.html">
            <button class="create-btn btn">Create Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="cart-btn-container">
      <a href="./cart.html">
        <button class="go-to-cart-btn btn">Go to Cart</button>
      </a>
    </div>
  </main>

  <script src="/scripts/nav.js"></script>
  <script src="/scripts/menu.js" type="module"></script>
</body>
</html>